﻿@{
    ViewData["Title"] = "mudigit";
}

<div class="text-center">
    <h1 class="display-4">Que bueno que volviste a mudigit</h1>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead"></p>
</div>
<div class="container">

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">mudigit Básico</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$270 <small class="text-muted">/ mes</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>5 Megas</li>
                    <li>Descargas Ilimitadas</li>
                    <li>1 Cuentas de correo gratis</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contratar</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">mudigit Familiar</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$320 <small class="text-muted">/ mes</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>8 Megas</li>
                    <li>Descargas Ilimitadas</li>
                    <li>2 Cuentas de correo gratis</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contratar</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">mudigit Pro. 1</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$390 <small class="text-muted">/ mes</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 Megas</li>
                    <li>Descargas Ilimitadas</li>
                    <li>2 Cuentas de correo gratis</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contratar</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">mudigit Personal</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ hora</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>5 Megas</li>
                    <li>Descargas Ilimitadas</li>
                    <li>Navega con tus dispositivos</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contratar</button>
            </div>
        </div>
    </div>
</div>

    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Pricing example for Bootstrap_files/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./Pricing example for Bootstrap_files/popper.min.js"></script>
    <script src="./Pricing example for Bootstrap_files/bootstrap.min.js"></script>
    <script src="./Pricing example for Bootstrap_files/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>

    <div id="BDTLL_feedback"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Pricing example for Bootstrap_files/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./Pricing example for Bootstrap_files/popper.min.js"></script>
    <script src="./Pricing example for Bootstrap_files/bootstrap.min.js"></script>
    <script src="./Pricing example for Bootstrap_files/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>


    <div id="BDTLL_feedback"></div>
